.container-table {
  overflow-y: scroll;
  /*Estilos estándar experimentales (Principalmente Firefox)*/
  scrollbar-color: rgba(209, 209, 209, 1) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.container-table::-webkit-scrollbar {
  width: 5px;
}

.container-table::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.container-table::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

.message {
  padding: 20px;
}

i {
  font-size: 50px;
}
